.product-to-buy {
  display: flex;
  max-width: 35rem;
  height: 10rem;
}
.toy-img-wrapper {
  height: 100%;
} 

.toy-img {
  width: auto;
  height: 100%;
}
/* .toy-info {
  
} */
.toy-title {
  font-size: 1.5rem;
}
.toy-price {
  font-size: 1.2rem;
  width: fit-content;
}

@media(max-width: 400px) {
  .product-to-buy {
    height: 8rem;
  }
  .toy-title {
    font-size: 1rem;
  }
}