h2 {
  font-size: 2.5rem;
}
p {
  font-size: 1rem;
}
.product-page-img {
  max-width: 100%;
  height: auto;
}
.project-description {
  /* width: 700px; */
}



.price, button {
  font-size: 1.5rem;
  height: 3rem;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
}
